.mainIntro,
.mainInstructions,
.mainInstrucciones2,
.mainFinalQuestions {
  background: url(../../assets/images/collageWithoutLogo.jpg);
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  background: url(../../assets/images/paperInstructions.png);
  margin: 7rem;
  padding: 12rem 5rem 5rem 5rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-family: var(--ThroughTheNight);
}

.paper h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.paper p,
.paper li {
  font-size: 1.7rem;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  text-align: justify;
}

.paperContain p {
  font-size: 1.7rem;
  margin: 2rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  text-align: justify;
  color: var(--black);
  font-family: var(--ThroughTheNight);
}

.paperContain span {
  text-decoration: underline;
}

.paper .buttonContainer {
  align-self: flex-end;
}

.logo{
  width: 70%;
  margin: 0 auto;
}

.startBtn {
  color: var(--black);
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  background-color: transparent;
  padding: 0 2rem;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-family: var(--Oswald);
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: solid 0.3rem var(--black);
  margin: 2rem;
}

.paper .startBtn:hover {
  color: var(--dark-red);
  border: solid 0.3rem var(--dark-red);
}

.paper .nextButton {
  display: inline-block;
  margin: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px var(--black);
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  font-family: var(--Oswald);
  font-size: 2rem;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}

.paper .nextButton:hover {
  color: var(--dark-red);
  border-bottom: solid 2px var(--dark-red);
}

.paper li {
  display: flex;
}

.paper .icon-section {
  display: inline-block;
  padding-top: 0.5rem;
  width: 3rem;
  font-size: 1.8rem;
}

.paper li p {
  width: 95%;
}

.paperContain button {
  margin-top: 7rem;
}



@media screen and (min-width: 1600px) {
  .paper h1 {
    margin-bottom: 5rem;
  }

  .paper {
    padding: 5rem 8rem;
  }
}
