.mainIntro {
  background: url(../../assets/images/collageIntro.jpg);
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.startBtn {
  color: var(--grey);
  background-color: transparent;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-family: var(--Oswald);
  border: solid 0.3rem var(--grey);
}

.startBtn:hover {
  transform: scale(1.1);
}
