.img-magnifier-container {
  position: relative;
}

.magnifier-img {
  width: auto;
  height: 80vh;
}

.magnifier-image {
  width: 20rem;
  height: 20rem;
  border: 0.2rem solid var(--green-console);
  position: relative;
}
