@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald.ttf") format("truetype");
}

@font-face {
  font-family: "ThroughTheNight";
  src: url("./assets/fonts/ThroughTheNight.regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
  color: var(--black);
}

:root {
  --black: #242424;
  --grey: #d9d9d9;
  --Oswald: "Oswald", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --ThroughTheNight: "ThroughTheNight", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

input:focus {
  outline: none;
}
