@font-face {
  font-family: "Oswald";
  src: url("../src/presentation/assets/fonts/Oswald.ttf") format("truetype");
}

@font-face {
  font-family: "ThroughTheNight";
  src: url("../src/presentation/assets/fonts/ThroughTheNight.regular.ttf") format("truetype");
}

@font-face {
  font-family: "DotGothic";
  src: url("../src/presentation/assets/fonts/DotGothic16-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
  color: var(--black);
}

:root {
  --black: #242424;
  --black-console: #0e0f0f;
  --blue-console: #06A094;
  --green-console: #42ae44;
  --white: #ffffff;
  --grey: #d9d9d9;
  --dark-red: #993f2a;
  --Oswald: "Oswald", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --ThroughTheNight: "ThroughTheNight", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --DotGothic: "DotGothic", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input:focus {
  outline: none;
}
